nav(class="border-bottom border-dark navbar navbar-expand" style="background-color:#272727;")
    ul(class="navbar-nav fw-bold ms-3")
        li(class="nav-item me-1")
            a(class="nav-link text-white" href="/")= "메인"
        li(class="nav-item me-1")
            a(class="nav-link text-white" href="/statusList?range=1")= "일일 통계"
        li(class="nav-item me-1")
            a(class="nav-link text-white" href="/statusList?range=2")= "10일 통계"
        li(class="nav-item me-1")
            a(class="nav-link text-white" href="/statusList?range=3")= "버전별 통계"
        li(class="nav-item me-1")
            a(class="nav-link text-white" href="/statusList?range=4")= "최근 3일 통계"